<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-primary btn-block">new message</button>
        </div>
        <div class="col-12 mt-5">
            <h4 class="lead">folders</h4>

            <div class="container">
                    <ul class="fa-ul">
                            <li><i class="fa-li fa fa-caret-down fa-fw"></i>inbox (2)</li>
                            <li><i class="fa-li fa fa-caret-right fa-fw"></i>drafts</li>
                            <li><i class="fa-li fa fa-caret-right fa-fw"></i>sent</li>
                            <li><i class="fa-li fa fa-close fa-fw"></i>trash</li>
                          </ul> 
            </div>

        </div>
    </div>
</div>