<div class="container mt-5">
    <!-- Container for Search Bar -->

    <div class="row">
        <div class=" col-md-8">
            <div class="input-group input-group-sm mb-3 ">
                    <div class="input-group-prepend ">
                      <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa">&#xf002;</i></span>
                    </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>
        <!-- Icons -->
        <div class="col-md-4">
            <div class="container pagerControl ">
                    <i class="fa fa-caret-left"></i>
            </div>

            <div class="container pagerControl">
                    <i class="fa fa-caret-left"></i>
                    <i class="fa fa-caret-left"></i>
            </div>

            <div class="container pagerControl">
                <i class="fa fa-caret-right"></i>
            </div>

            <div class="container pagerControl">
                <i class="fa fa-close"></i>
            </div>
        </div>
    </div>
    <!-- Container to list of users messages -->
    <div class="container pt-5">
        <div class="row userMessage">
            <div class="col col-sm-1  my-auto">
                <span>f</span>
            </div>
            <div class="col-sm-11">
                <div class="hash time-hash">
                        <span>
                            Message From
                        </span>
                        <span>
                            09:42 am
                        </span>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque facilis veritatis eaque voluptates voluptas corporis velit culpa cupiditate similique. Ratione, delectus dolorum asperiores iure repudiandae accusantium rem perferendis temporibus nobis.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt-5">
        <div class="row userMessage">
            <div class="col col-sm-1  my-auto">
                <span>f</span>
            </div>
            <div class="col-sm-11">
                <div class="hash time-hash">
                        <span>
                            Message From
                        </span>
                        <span>
                            09:42 am
                        </span>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque facilis veritatis eaque voluptates voluptas corporis velit culpa cupiditate similique. Ratione, delectus dolorum asperiores iure repudiandae accusantium rem perferendis temporibus nobis.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt-5">
        <div class="row userMessage">
            <div class="col col-sm-1  my-auto">
                <span>f</span>
            </div>
            <div class="col-sm-11">
                <div class="hash time-hash">
                        <span>
                            Message From
                        </span>
                        <span>
                            09:42 am
                        </span>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque facilis veritatis eaque voluptates voluptas corporis velit culpa cupiditate similique. Ratione, delectus dolorum asperiores iure repudiandae accusantium rem perferendis temporibus nobis.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End of list of users messages-->
</div>