.customBox {
     height: 100;
     width: 80vw;
     border: 1px solid red;
}

* html, body{
     height: 100vh;
     width: 100vw;
}
.app-root{
     height: 100%;
     width: 100%;
}

.profilePic{
     border-radius: 50%;
}

app-user-info h3{
     color: red;
}

app-user-info no-pad{
     margin-right: 0;
     margin-left: 0;
}
